x-variables:
  main-image: &main-image localhost/local-dev/ucdlib-intranet:local-dev
  utils-image: &utils-image localhost/local-dev/ucdlib-intranet-utils:local-dev
  wp-gmail-image: &wp-gmail-image localhost/local-dev/gmail-wp-pipeline:local-dev
  indexer-image: &indexer-image localhost/local-dev/ucdlib-intranet-es-indexer:local-dev

services:
  wordpress:
    image: *main-image
    env_file:
      - .env
    ports:
      - ${HOST_PORT:-3000}:80
    environment:
      UCDLIB_INTRANET_ENV: ${UCDLIB_INTRANET_ENV:-dev}
      WORDPRESS_DB_HOST: ${DB_HOST:-db:3306}
      WORDPRESS_DB_DATABASE: ${DB_DATABASE:-wordpress}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD:-wordpress}
      WORDPRESS_DB_USER: ${DB_USER:-wordpress}
      WORDPRESS_DEBUG: ${WORDPRESS_DEBUG:-1}
      WORDPRESS_DEBUG_DISPLAY: ${WORDPRESS_DEBUG_DISPLAY:-1}
      WORDPRESS_DISABLE_FATAL_ERROR_HANDLER: ${WORDPRESS_DISABLE_FATAL_ERROR_HANDLER:-1}
      WORDPRESS_CONFIG_EXTRA: |
        define( 'WP_ENVIRONMENT_TYPE', 'local' );
      OIDC_CLIENT_ID: ${OIDC_CLIENT_ID:-ucdlib-intranet}
      OIDC_ENDPOINT_LOGIN_URL: ${OIDC_ENDPOINT_LOGIN_URL:-https://auth.library.ucdavis.edu/realms/internal/protocol/openid-connect/auth}
      OIDC_ENDPOINT_USERINFO_URL: ${OIDC_ENDPOINT_USERINFO_URL:-}
      OIDC_ENDPOINT_TOKEN_URL: ${OIDC_ENDPOINT_TOKEN_URL:-https://auth.library.ucdavis.edu/realms/internal/protocol/openid-connect/token}
      OIDC_ENDPOINT_LOGOUT_URL: ${OIDC_ENDPOINT_LOGOUT_URL:-https://auth.library.ucdavis.edu/realms/internal/protocol/openid-connect/logout}
      OIDC_CLIENT_SCOPE: ${OIDC_CLIENT_SCOPE:-openid profile email roles}
      OIDC_LOGIN_TYPE: ${OIDC_LOGIN_TYPE:-auto}
      OIDC_CREATE_IF_DOES_NOT_EXIST: ${OIDC_CREATE_IF_DOES_NOT_EXIST:-true}
      OIDC_LINK_EXISTING_USERS: ${OIDC_LINK_EXISTING_USERS:-true}
      OIDC_REDIRECT_USER_BACK: ${OIDC_REDIRECT_USER_BACK:-true}
      OIDC_ENFORCE_PRIVACY: ${OIDC_ENFORCE_PRIVACY:-true}
      FORMINATOR_ADDON_RT_HOST: ${FORMINATOR_ADDON_RT_HOST:-https://rt.lib.ucdavis.edu}
      UCDLIB_PERSONNEL_API_URL: ${UCDLIB_PERSONNEL_API_URL:-https://iam.staff.library.ucdavis.edu/json}
    tmpfs:
      - /run
      - /tmp
    depends_on:
      - db
    volumes:
      - uploads-data:/usr/src/wordpress/wp-content/uploads
      - wp-logs-data:/var/log/wordpress
      - ../../../../ucdlib-theme-wp:/usr/src/wordpress/wp-content/themes/ucdlib-theme-wp
      # - ../../../../forminator-addon-rt:/usr/src/wordpress/wp-content/plugins/forminator-addon-rt
      - ../../../src/plugins/ucdlib-oidc:/usr/src/wordpress/wp-content/plugins/ucdlib-oidc
      - ../../../src/plugins/ucdlib-intranet:/usr/src/wordpress/wp-content/plugins/ucdlib-intranet
      - ../../../utils/wp-scripts:/deploy-utils/wp-scripts

  init:
    image: *utils-image
    env_file:
      - .env
    environment:
      RUN_INIT: "true"
      INIT_DATA_ENV: ${INIT_DATA_ENV:-prod}
      SERVER_URL: http://localhost:${HOST_PORT:-3000}
      GC_PROJECT: ${GC_PROJECT:-digital-ucdavis-edu}
      GC_BUCKET_BACKUPS: ${GC_BUCKET_BACKUPS:-itis-backups/ucdlib-intranet}
      BACKUP_FILE_NAME: ${BACKUP_FILE_NAME:-db.sql.gz}
      UPLOADS_FILE_NAME: ${UPLOADS_FILE_NAME:-uploads.tar.gz}
      WORDPRESS_DB_HOST: ${DB_HOST:-db:3306}
      WORDPRESS_DB_DATABASE: ${DB_DATABASE:-wordpress}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD:-wordpress}
      WORDPRESS_DB_USER: ${DB_USER:-wordpress}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-wordpress}
    depends_on:
      - db
      - wordpress
    volumes:
      - uploads-data:/uploads
      - ../../../utils/init:/deploy-utils/init
      - ../../../utils/wp-scripts:/deploy-utils/wp-scripts
      - ../../secrets/gc-reader-key.json:/etc/service-account.json
    command: ./init/init.sh

  backup:
    image: *utils-image
    env_file:
      - .env
    environment:
      BACKUP_DATA_ENV: ${BACKUP_DATA_ENV:-local-dev}
      GC_BUCKET_BACKUPS: ${GC_BUCKET_BACKUPS:-itis-backups/ucdlib-intranet}
      BACKUP_FILE_NAME: ${BACKUP_FILE_NAME:-db.sql.gz}
      UPLOADS_FILE_NAME: ${UPLOADS_FILE_NAME:-uploads.tar.gz}
      WORDPRESS_DB_HOST: ${DB_HOST:-db:3306}
      WORDPRESS_DB_DATABASE: ${DB_DATABASE:-wordpress}
      WORDPRESS_DB_PASSWORD: ${DB_PASSWORD:-wordpress}
      WORDPRESS_DB_USER: ${DB_USER:-wordpress}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-wordpress}
    depends_on:
      - db
      - wordpress
    volumes:
      - uploads-data:/uploads
      - ../../../utils/backup:/deploy-utils/backup
      - ../../secrets/gc-writer-key.json:/etc/service-account.json
    command: ./tail.sh
    # command: "./backup/entrypoint.sh"

  wp-gmail:
    image: *wp-gmail-image
    env_file:
      - .env
    environment:
      GMAILWP_CRON_SCHEDULE: '*/1 * * * *'
      GMAILWP_CRON_IDLE_AT_STARTUP: 'true'
      GMAILWP_LOGGER_STREAM: 'console'
      GMAILWP_INSTANCE_NAME: 'local-dev'
      GMAILWP_GC_KEY_FILENAME: '/secrets/gc-reader-key.json'
      GMAILWP_WP_URL: 'http://wordpress:80'
      GMAILWP_CUSTOM_SCRIPT: 'ucdlib-intranet'
    volumes:
      - ../../../../gmail-wp-pipeline/src:/app
      - /app/node_modules
      - ../../secrets:/secrets
    command: ["tail", "-f", "/dev/null"]

  db:
    image: mysql:8.0
    env_file:
      - .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-wordpress}
      MYSQL_DATABASE: ${DB_DATABASE:-wordpress}
      MYSQL_USER: ${DB_USER:-wordpress}
      MYSQL_PASSWORD: ${DB_PASSWORD:-wordpress}
    volumes:
      - db-data:/var/lib/mysql
    ulimits:
      nofile:
        soft: 262114
        hard: 262114

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.5
    environment:
      - bootstrap.memory_lock=true
      - discovery.type=single-node
      - cluster.routing.allocation.disk.threshold_enabled=false
      - cluster.routing.allocation.disk.watermark.low=100%
      - cluster.routing.allocation.disk.watermark.high=100%
      - cluster.routing.allocation.disk.watermark.flood_stage=100%
      - cluster.routing.allocation.disk.watermark.flood_stage.max_headroom=0b
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - xpack.security.enabled=false
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es-data:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.17.5
    ports:
      - ${KIBANA_HOST_PORT:-3002}:5601
    environment:
      - ELASTICSEARCH_URL:http://elasticsearch:9200
      - xpack.security.enabled=false
      - telemetry.enabled=false
    depends_on:
      - elasticsearch

  indexer:
    image: *indexer-image
    ports:
      - ${INDEXER_HOST_PORT:-3001}:3000
    env_file:
      - .env
    environment:
      INDEXER_LOGGER_STREAM: 'console'
    depends_on:
      - elasticsearch
      - wordpress
    volumes:
      - ../../../elastic-search:/service
      - /service/node_modules
      - ../../secrets:/secrets
    # command: ["tail", "-f", "/dev/null"]

  adminer:
    image: adminer:5
    ports:
      - ${ADMINER_HOST_PORT:-8080}:8080

volumes:
  db-data:
  uploads-data:
  wp-logs-data:
  es-data:
