{% extends getUcdTemplate('base') %}

{% from getUcdMacro('links') import pagination %}
{% from getUcdMacro('links') import breadcrumbs as render_crumbs %}

{% block content_container %}
<div class="l-container l-basic--flipped">
  <div class="l-sidebar-first"></div>
  <div class="l-content">todo: wire up elasticsearch...</div>
</div>

{% endblock %}
